<!--       	Name:	Maeda Hanafi  
			Course:	   543
			Assignment:	   #5
  -->

<h1>Message Board</h1>


<%= form_for :items, :url => { :controller => :home, :action => "index" }, :method => "get" do |f| %>
<table border=2>
	<tr>
		<td><b>Message</b></td>
		<td>
			<%= f.text_area :message, :size => "50x6" %>
		</td>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td>
			<%= f.text_area :name, :size => "50x1" %>
		</td>
	</tr>
	<tr>
		<td><b>Email</b></td>
		<td>
			<%= f.text_area :email, :size => "50x1" %>
		</td>
	</tr>
	<tr> 
		<td></td>
		<td>
			<%= f.submit "Submit", :name => "submit"%> 
			<%= f.submit "Clear" , :name => "clear"%> 
		</td>
	</tr>
	<tr> </tr>
</table>

<% end %>
<table border=2>
<% @disp.each do |entry| %>
	<tr>
		<td colspan=3><%= entry.name %></td>
	</tr>
	<tr>
		<td> <b> by:</b> <%= entry.message %></td>
		<td> <b>Email:</b> <a href=""><%= entry.email %></a></td>
		<td><%= entry.created_at %></td>
	</tr>
<% end %>
</table>
